.quote-card {
    border: 1px solid lightgrey;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    margin: 20px auto;
    padding: 10px;

}

.results-header {
    display: flex;
    border: 1px solid red;
    padding: 10px 50px;
    justify-content: space-between;

}

.filters-results-container {
    display: flex;
    justify-content: space-around;
}

.filters {
    border: 1px solid red;
    width: 100%;
    max-width: 20%;
}