.quote-card {
    border: 1px solid lightgrey;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    margin: 20px auto;
    padding: 10px;

}

.results-header {
    display: flex;
    border: 1px solid red;
    padding: 10px 50px;

}

